In [124]:
import csv
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [125]:
x = pd.read_csv('all_necessary_data.csv')

In [126]:
x.head()

,Name,House,Gender,Nobility,Is Dead,Num Betrayed,Num Been Betrayed,Is Betrayer,Is Betrayed
0,Hugh,Arryn,1,0,1,0,0,0,0
1,Lysa Arryn,Arryn,0,1,1,2,2,1,1
2,Marillion,Arryn,1,0,1,0,0,0,0
3,Mord,Arryn,1,0,0,0,0,0,0
4,Myranda,Arryn,0,1,1,0,0,0,0

In [142]:
#train_cols = x.columns[]
logit = sm.Logit(x['Is Betrayed'], x[train_cols])
result = logit.fit()

TypeError: __init__() missing 2 required positional arguments: 'endog' and 'exog'

In [140]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            Is Betrayed   No. Observations:                  161
Model:                          Logit   Df Residuals:                      160
Method:                           MLE   Df Model:                            0
Date:                Sun, 15 May 2016   Pseudo R-squ.:                 -0.3828
Time:                        21:31:40   Log-Likelihood:                -98.434
converged:                       True   LL-Null:                       -71.183
                                        LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Nobility      -1.1575      0.244     -4.736      0.000        -1.637    -0.678
==============================================================================
"""

In [129]:
np.exp(-2.2064)
np.exp(-0.7114)

0.49095637717106666

In [130]:
dummy = pd.get_dummies(x['House'],prefix = 'House')

In [131]:
dummy.head()

,House_Arryn,House_Baratheon,House_Greyjoy,House_Lannister,House_Martell,House_Night's Watch,House_None,House_Stark,House_Targaryen,House_Tully,House_Tyrell,House_Wildling
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [132]:
keep = ['Name','Gender','Nobility']
new = x[keep].join(dummy.ix[:,'House_Arryn':],how='right')
new['Is Betrayer'] = x['Is Betrayer']

In [133]:
new.head()

,Name,Gender,Nobility,House_Arryn,House_Baratheon,House_Greyjoy,House_Lannister,House_Martell,House_Night's Watch,House_None,House_Stark,House_Targaryen,House_Tully,House_Tyrell,House_Wildling,Is Betrayer
0,Hugh,1,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,Lysa Arryn,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,Marillion,1,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,Mord,1,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,Myranda,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [134]:
train_cols = new.columns[(np.array([1,2]))]
new_logit = sm.Logit(new['Is Betrayer'], new[train_cols])
new_result = new_logit.fit()

Optimization terminated successfully.
         Current function value: 0.540575
         Iterations 5

In [135]:
new_result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            Is Betrayer   No. Observations:                  161
Model:                          Logit   Df Residuals:                      159
Method:                           MLE   Df Model:                            1
Date:                Sun, 15 May 2016   Pseudo R-squ.:                -0.01721
Time:                        21:30:23   Log-Likelihood:                -87.033
converged:                       True   LL-Null:                       -85.560
                                        LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Gender        -1.3972      0.291     -4.799      0.000        -1.968    -0.827
Nobility       0.0016      0.322      0.005      0.996        -0.630     0.633
==============================================================================
"""